/* body{
 background-color: black;
} */


.c1{
background-color: green;
    width: 1900px;
    height:100px}

.c2{
    background-color: blue;
    width: 1900px;
    height:100px
}

.c3{
    background-color: blueviolet;
    width: 1900px;
    height:100px;
  
}
.c31{
 background-color: pink;
 height: 100px;
 width: 900px;
}
.c4{
    background-color: purple;
    height: 100px;
 width: 1900px;
}
.c5{
    background-color: yellow;
    height: 100px;
 width: 1900px;
}
.c6{
    background-color:red;
    height: 100px;
 width: 1900px;
}
.c7{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.c71{
    width: 50%;
    height: 100px;
    background-color: black;
}
.c72{
    width: 50%;
    height: 100px;
    background-color:bisque;
}
.c8{
    width: 1900px;
    height: 100px;
    background-color: aqua;
}